<LinkTo @route="cart" class="cart-link">
    <i class="fa fa-shopping-cart"></i>
</LinkTo>
<main class="container mt-5">
    {{!-- using yield is leaving a place holder for the content of component box --}}
    {{yield}}
</main>